.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-header {
  padding-top: 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


