body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --header-height: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.maplibregl-children {
  height: calc(100dvh - var(--header-height) - 2 * 20px) !important;
  margin: 20px;
  position: relative;
  pointer-events: none;
  box-sizing: border-box;

  & * {
    pointer-events: all;
  }
}
